[Desktop Entry]
Name=m2mtool
Type=Application
Terminal=False
Encoding=UTF-8
#Must launch wrapper to pick up path
Exec=/usr/software/m2mtool/bin/m2mtool
Icon=/usr/share/icons/m2mtool.png
#Need to add this icon
Categories=All NMRbox software
