#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@

override_dh_install:
	dh_install bmrb-192x192.png /usr/share/icons/
	#specify non-standard source directory
	dh_install --sourcedir=/ usr/software/m2mtool /usr/software

